* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contain__type {
	height: var(--height-contain-type);

	background-color: #fff;
	position: fixed;
	top: var(--height-header);
	left: var(--width-sidebar-large);
	right: 0;
	border-bottom: 1px solid #ccc;
	z-index: 999;
	overflow-y: hidden;
	overflow-x: hidden;
}

.contain__type-inner {
	overflow-x: hidden;
	position: relative;
	width: 100%;
}

.contain__type.sidebar--active {
	left: var(--width-sidebar-small);
}

.contain__content {
	margin-top: calc(var(--height-contain-type));
	padding-top: var(--height-header);
}

.contain__type-list {
	min-width: 1043px;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
	overflow-x: auto;
}

.contain__type-item {
	--height: 32px;
	height: var(--height);
	margin: 12px;
	padding: 0 12px;
	background-color: #0000000d;
	border: 1px solid #0000001a;
	transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
	min-width: 12px;
	border-radius: 16px;
	color: #030303;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	cursor: pointer;
	font-size: 1.4rem;
	font-weight: 400;
	font-family: var(--font-family);

	display: inline-flex;
	flex-direction: column;
	align-items: center;
	white-space: nowrap;
}

.contain__type-item:hover {
	background-color: #0000001a;
}

.contain__type-item.contain__type-item--active {
	background-color: #030303;
	color: #fff;
}

.contain__type-item + .contain__type-item {
	margin-left: 0;
}

.card-wrapper {
	margin-top: 24px;
	user-select: none;
}

.card-wrapper .card {
	background-color: transparent;
	border: none;
}

.card-wrapper .card-body {
	padding-left: 0;
}

.card-body-inner {
	display: flex;
}

.card-body-avt {
	margin: 0 12px 0 0;
}

.card-body-avt img {
	object-fit: cover;
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

.card-body-heading a {
	font-size: 1.4rem;
	font-weight: 500;
	max-height: 4rem;
	overflow: hidden;
	-webkit-line-clamp: 2;
	display: box;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	white-space: normal;
	color: #030303;
	line-height: 20px;
}

.card-body-content {
	padding-right: 24px;
}

.card-body-content .chanel a {
	color: #606060;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.2rem;
	font-weight: 400;
	font-family: var(--font-family);
	opacity: 0.8;
	line-height: 18px;
}

.card-wrapper .card-body .card-info {
	font-family: var(--font-family);
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 400;
	max-height: 3.6rem;
	overflow: hidden;
	display: block;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	white-space: normal;
	display: flex;
	color: #606060;
}

.card-wrapper .card-body .card-info > .views::after {
	content: '•';
	margin: 0 4px;
}

.card-wrapper .time-video {
	margin: 4px;
	color: var(--c-white);
	background-color: #000000cc;
	padding: 8px 4px;
	height: 12px;
	border-radius: 2px;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.2rem;
	letter-spacing: 0.5px;
	display: flex;
	align-items: center;
	font-family: var(--font-family);
}

.img-video:hover {
	opacity: 0.9;
	transition: all linear 0.1s;
}

@media (max-width: 1350px) {
	.contain__type {
		left: var(--width-sidebar-small);
	}

	.contain__type-list .contain__type-item:first-child {
		/* margin-left: 100px; */
	}
}

@media (max-width: 792px) {
	.contain__type {
		left: 0 !important;
	}
}
