.header {
  position: relative;
  height: var(--height-header);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.header::after {
  content: '';
  height: 1px;
  opacity: 0.8;
  pointer-events: none;
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 2050;
  bottom: 0;
  left: 0;
  background-color: #ccc;
}

.header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;

  position: relative;
}

.header__left-right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* header left */
.header-left {
  display: flex;
  align-items: center;
  z-index: 5;
}

.header-left__menu {
  width: 40px;
  padding: 8px;
  cursor: pointer;
}

.header-left__logo {
  width: 90px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px 16px;
}

.header-left__logo-vn {
  position: absolute;
  top: -6px;
  right: -18px;
  font-size: 1rem;
  color: #606060;
}

/* header right */
.header-right {
  display: flex;
  align-items: center;
  z-index: 5;
}
.header-right__option {
  display: flex;
  align-items: center;
}
.header-right__option > .header-right__option-item {
  width: 40px;
  padding: 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header-right__option-item + .header-right__option-item {
  margin-left: 10px;
}

.avatar-user {
  margin-left: 14px;
  margin-right: 14px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

/* header-middle */
.header-middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}
.header-middle__input {
  display: flex;
}

.header-middle__input-icon-search {
  display: none;
}

.header-middle__search {
  display: flex;
  width: 688px;
}
.header-middle__search > .header-middle__input {
  width: 100%;
}

.header-middle__search > .header-middle__input > input {
  flex: 1;
}

.header-middle__search-icon > .icon-search {
  width: 24px;
}
